[req]
#serial=1ec5b3891299c0cf6855dd677cf4a8d7
default_md=sha1
default_bits=2048
distinguished_name=req_dn
extensions=v3_req
prompt=no

[req_dn]
#1.3.6.1.4.1.311.60.2.1.3=US
#1.3.6.1.4.1.311.60.2.1.2=California
#2.5.4.15=Private Organization
#SERIALNUMBER=C0806592
C=US
#PostalCode=95014
#S=California
L=Cupertino
#STREET=1 Infinite Loop
O=Apple Inc.
OU=GNCS Traffic Management
CN=albert.apple.com

[v3_req]
subjectAltName=DNS:nwk-albert.apple.com,DNS:nc-albert.apple.com,DNS:nc1-albert.apple.com,DNS:nwk-unbrick1.apple.com,DNS:nwk-unbrick2.apple.com,DNS:nc-unbrick1.apple.com,DNS:nc-unbrick2.apple.com,DNS:nc1-unbrick1.apple.com,DNS:nc1-unbrick2.apple.com,DNS:albert.apple.com
basicConstraints=CA:FALSE
extendedKeyUsage=serverAuth:1.3.6.1.5.5.7.3.1,clientAuth:1.3.6.1.5.5.7.3.2,RID:2.16.840.1.113730.4.1
certificatePolicies=ia5org,@polsect
subjectKeyIdentifier=e6c975adad77c666f8224221ab98321cceade11e
authorityKeyIdentifier=keyid,issuer
crlDistributionPoints=URI:http://EVIntl-crl.verisign.com/EVIntl2006.crl
authorityInfoAccess=OCSP;URI:http://EVSecure-ocsp.verisign.com
authorityInfoAccess=OCSP;URI:http://EVIntl-aia.verisign.com/EVIntl2006.cer
keyUsage=critical,digitalSignature,keyEncipherment

[polsect]
policyIdentifier=2.16.840.1.113733.1.7.23.6
CPS.1=https://www.verisign.com/cps